zELMER_*
run_elmer_[0-9]*.slurm
MY_OUTPUT
MY_RESTART
MY_WORK
LOG/[A-Z]*
MY_BLD/[A-Z]*
TOOLS/ADD_VAR_TO_RST/add_var_to_rst.o*
TOOLS/ADD_VAR_TO_RST/add_var_to_rst.e*
TOOLS/INTERPOLATION_CONSERVATIVE/*.nc
